body{
   background-color: rgb(77, 15, 77);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 0;
   margin: 0;
   height: 100vh;


}
p{
    font-family: italic;
    color: azure;
   
}
img{
    border: 10px solid rgb(129, 31, 129);
}
button{
    background-color: black;

}